<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FONT-AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />

    <!-- FONT GOOGLE -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700&display=swap"
        rel="stylesheet">

    <!-- STYLE -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Boolzapp</title>
</head>

<body>
    <div id="app">
        <header class="d_flex">
            <div class="container d_flex">
                <!-- User -->
                <div id="user" class="d_flex center_middle">
                    <div class="user_name d_flex">

                        <img :src="'./assets/img/avatar'+ user.avatar +'.jpg'" alt="">
                        <span>{{ user.name }}</span>

                    </div>

                    <div class="user_icon">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </div>

                <!-- User chat -->
                <div id="chat_menu" class="d_flex center_middle">
                    <div class="chat_menu d_flex">

                        <img :src="'./assets/img/avatar' + contacts[contactCounter].avatar + '.jpg'" :key="contacts.avatar" alt="">
                        <div class="d_flex f_column">
                            <span class="contact_name">{{ contacts[contactCounter].name }}</span>
                            <span class="accesso" v-if="lastAccess === ''">Ultimo accesso ieri</span>
                            <span v-else class="accesso"> Ultimo accesso oggi {{ lastAccess }}</span>
                        </div>

                    </div>

                    <div class="chat_icon d_flex">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </div>
            </div>

        </header>

        <main>
            <div class="container d_flex">

                <!-- Left Nav -->
                <nav class="left_nav">

                    <!-- Notify -->
                    <div class="notify d_flex center_middle">

                        <i class="fas fa-bell-slash"></i>
                        <div>
                            <span>Ricevi notifiche di un messaggio</span>

                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>

                    <!-- Contacts -->
                    <div class="contacts">
                        <i class="fas fa-search"></i>
                        <input type="search" placeholder="Cerca o inizia una nuova chat" v-model="searchContact">
                    </div>

                    <!-- Contact List -->
                    <div class="contacts_list">
                        <div v-for="(contact, index) in newContacts" :key="contact.name" @click="selectContact(index)" :class="contactCounter === index ? 'active' : ''" >
                            <img :src="'./assets/img/avatar'+contact.avatar +'.jpg'" alt="">
                            <span class="list_name">{{ contact.name }}</span>
                            <!-- <span> {{ contact.messages[0].text }} </span> -->
                            <span class="last_message text_space"> {{ contact.messages[contact.messages.length -1].text }}</span>
                            <hr>
                        </div>
                    </div>
                </nav>

                <!-- Chat -->
                <div class="chat">
                    <div class="chat_view">
                        <div v-for="(item, index) in contacts" v-if="index === contactCounter" class="message">
                            <!-- {{ item.messages[0].text }} -->

                            <!-- Sent - Received Messages -->
                            <div v-for="(item, index) in item.messages" :class="item.status === 'sent' ? 'sent' : 'received'">
                                {{ item.text }}  
                                <div>
                                    {{ item.date }}  
                                </div>        
                            </div>                            
                        </div>

                    </div>

                    <div class="text_input d_flex center_middle">

                        <i class="far fa-smile"></i>

                        <input type="text" 
                        placeholder="Scrivi un messaggio" 
                        v-model="message" v-on:keyup.enter="sendMessage"
                        :index="contacts.avatar"
                        :messages="contacts.messages">

                        <i class="fas fa-microphone"></i>

                    </div>

                </div>
            </div>
        </main>
    </div>


    <!-- VUE-JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <!-- MAIN.JS -->
    <script src="./assets/js/main.js"></script>
</body>

</html>